.red{
  color:red
}
.mediumLengthHero {
  margin: 0;
  width: 769px;
  position: relative;
  font-size: 3rem;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.loremIpsumDolor {
  width: 768px;
  position: relative;
  font-size: 18px;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.overlayIcon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50px;
}
.heading5 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.heading5WhenParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0px 0px;
}
.overlayParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.heading51 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.premiumRomantic {
  position: relative;
  line-height: 150%;
  color: #000;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.overlayContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 51px 0px 0px;
  gap: 8px;
}
.buttonIcon {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 200px;
  flex-shrink: 0;
}
.filter {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  border-radius: 200px;
  background-color: #fff;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 59px;
  font-size: 14px;
  color: #05073c;
}
.mediumLengthHeroHeadlineGoParent {
  /* border: 1px solid green; */
  margin:auto;
  margin-bottom: 40%;
  display: flex;
  width: 1400px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  /* max-width: 100%; */
  font-size: 18px;
}
.banner {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 80px 219.5px;
  box-sizing: border-box;
  gap: 79.5px;
  background-image: url("/banner3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 1200px;
  max-width: 100%;
}
.linkFour {
  position: relative;
  line-height: 150%;
}
.chevronDownIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.navLinkDropdown {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.pageGroupOne {
  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}
.pageOne {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.loremIpsumDolor1 {
  position: relative;
  font-size: 14px;
  line-height: 150%;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 221px;
  max-width: 100%;
}
.menuItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0px;
  box-sizing: border-box;
  gap: 12px;
  max-width: 100%;
}
.menuList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  min-width: 244px;
  max-width: 100%;
}
.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 32px 32px 64px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 572px;
  max-width: 100%;
}
.placeholderImageIcon {
  height: 105px;
  width: 160px;
  position: relative;
  object-fit: cover;
}
.loremIpsumDolor9 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 150%;
}
.content9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.readMore {
  position: relative;
  font-size: 14px;
  text-decoration: underline;
  line-height: 150%;
}
.content8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 161px;
}
.blogItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0px;
  gap: 24px;
}
.blogList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.button1 {
  height: 24px;
  width: 104px;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.iconChevronRight {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  gap: 8px;
}
.blog {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 96px 32px 32px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}
.megaMenu {
  width: 1440px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
  color: #000;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 100%;
}
.heading {
  margin: 0;
  width: 321px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.nationalGeographicLogosvgIcon {
  height: 29.3px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logosvgIcon {
  height: 46.7px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.condNastTravelerLogosvgIcon {
  height: 42px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.travelLeisureLogosvgIcon {
  height: 23.4px;
  width: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.afarMediaLogopngIcon {
  height: 30.8px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.content12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 236px;
  box-sizing: border-box;
  min-width: 582px;
  max-width: 100%;
  gap: 20px;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  gap: 64px;
  max-width: 100%;
}
.logo {
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
  font-size: 24px;
  color: #000;
}
.headerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
}

@media screen and (max-width: 1200px) {
  .blog {
    flex: 1;
  }

  .megaMenu {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .mediumLengthHero {
    font-size: 45px;
    line-height: 54px;
  }

  .banner {
    padding-bottom: 143px;
    box-sizing: border-box;
  }

  .content12 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 118px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .frameParent {
    flex-wrap: wrap;
  }

  .banner {
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .menu {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .placeholderImageIcon {
    flex: 1;
  }

  .blogItem {
    flex-wrap: wrap;
  }

  .blog {
    min-width: 100%;
  }

  .container {
    gap: 32px;
  }

  .logo {
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mediumLengthHero {
    font-size: 34px;
    line-height: 40px;
  }

  .filter {
    gap: 29px;
  }

  .banner {
    gap: 20px;
    padding-bottom: 93px;
    box-sizing: border-box;
  }

  .menuItem {
    flex-wrap: wrap;
  }

  .heading {
    font-size: 19px;
    line-height: 27px;
  }

  .content12 {
    padding-left: 20px;
    box-sizing: border-box;
  }

  .container {
    gap: 16px;
  }

  .logo {
    gap: 20px;
  }
}






/* later addded */
.red{
  color:red
}
.bookingFieldk321 {
  width: 50%;
  background-color: #fff;
  border-radius: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 778px) {
  .bookingFieldk321 {
    justify-content: start;
    flex-direction: column;
    border-radius: 16px;
    gap: 12px;
  }
}

@media (max-width: 580px) {
  .bookingFieldk321 {
    position: relative;
    margin-top: 30px;
    animation: slideUp 0.3s ease-in-out;
  }
}

.bookingFieldk321 .PackagesSelect {
  outline: none;
  border: none;
  width: 150px;
}

.bookingFieldk321 .guest_amt::-webkit-outer-spin-button,
.bookingFieldk321 .guest_amt::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.bookingFieldk321 .guest_amt {
  width: 30px;
  outline: 0;
  border: 0;
  appearance: textfield;
  -moz-appearance: textfield;
}

.bookingFieldk321 .CloseIon {
  display: none;
}

@media (max-width: 580px) {
  .bookingFieldk321 .CloseIon {
    display: block;
  }
  .bookingFieldk321 .CloseIon .CloseIocnd {
    position: absolute;
    right: 20px;
    top: 20px;
    color: tomato;
  }
}

.bookingFieldk321 .IconsFIll {
  color: var(--themePrimary);
}

.bookingFieldk321 .serachBtn {
  display: none;
  cursor: pointer;
}

@media (max-width: 778px) {
  .bookingFieldk321 .serachBtn {
    display: block;
    background-color: var(--themePrimary);
    border-radius: 16px;
    color: #fff;
    outline: none;
    border: none;
    padding: 12px;
    text-align: center;
  }
  .bookingFieldk321 .serachBtn svg {
    margin-inline-end: 12px;
  }
}

.bookingFieldk321 .Icons {
  background-color: rgb(254, 247, 244);
  width: max-content;
  border-radius: 100%;
  padding: 15px 15px;
}

.bookingFieldk321 .Icons img {
  width: 20px;
  height: auto;
}

.bookingFieldk321 .searchIcon {
  background-color: var(--themePrimary);
  border-radius: 100%;
  color: #fff;
  padding: 15px;
  width: max-content;
  cursor: pointer;
}

@media (max-width: 778px) {
  .bookingFieldk321 .searchIcon {
    display: none;
  }
}

.bookingFieldk321 .itemBox {
  color: #000;
  display: flex;
  gap: 8px;
}

.bookingFieldk321 .itemBox .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bookingFieldk321 .itemBox .details .field {
  color: #05073c;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.bookingFieldk321 .itemBox .details .value {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

@keyframes slideUp {
  from {
    top: 80px;
    opacity: 0.2;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.serachBtn32d {
  display: none;
  cursor: pointer;
}

@media (max-width: 778px) {
  .serachBtn32d {
    display: block;
    background-color: var(--themePrimary);
    border-radius: 16px;
    color: #fff;
    outline: none;
    border: none;
    padding: 12px;
    text-align: center;
    width: 100%;
    margin-top: 35px;
  }
  .serachBtn32d svg {
    margin-inline-end: 12px;
  }
}
