.OurPackagesk312 .sliderArrows {
  text-align: end;
}
@media (max-width: 990px) {
  .OurPackagesk312 .sliderArrows {
    text-align: end;
  }
}
@media (max-width: 580px) {
  .OurPackagesk312 .sliderArrows {
    display: none;
  }
}

.red{
  color:red
}