/* .ritesh {
  border: 20px solid green;
  display: flex;
  min-height: 450px;
} */

.step1dk3 {
  /* Nested styles for step1dk3 */
}

.step1dk3 .colHalf {
  border-inline-end: 2px solid rgba(0, 0, 0, 0.16);
}

.step1dk3 .mt-40 {
  margin-top: 40px;
}

.step1dk3 .step1Size {
  border: 20px solid green;
  display: flex;
  min-height: 450px;
}

.step1dk3 .wrapper {
  /* Styles inside the wrapper */

  .guest-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 560px) {
    .guest-sec {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 10px;
      margin-bottom: 25px;
    }
    .guest-sec .sec-title {
      font-size: 20px;
    }
  }

  .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    border: 1px solid var(--themePrimary);
    border-radius: 50px;
    padding: 13px 18px;
  }

  .amount .qty-icon {
    cursor: pointer;
  }

  .info .sub-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }

  @media (max-width: 560px) {
    .info .sub-title {
      font-size: 13px;
    }
  }

  .info .details {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  @media (max-width: 560px) {
    .info .details {
      font-size: 12px;
    }
  }
}
