.PackCardDetails933k {
  margin-top: 40px;
  animation-name: show;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  position: relative;
}
@media (max-width: 560px) {
  .PackCardDetails933k {
    padding-inline-end: 10px;
  }
}
.PackCardDetails933k .cardDetails {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.PackCardDetails933k .details {
  flex: 60%;
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-direction: column;
}
.PackCardDetails933k .details .sec-title {
  padding-bottom: 5px;
  font-size: 20px;
}
.PackCardDetails933k .imaWrapper {
  flex: 200px;
  width: 197px;
  height: 189px;
}
.PackCardDetails933k .imaWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

@keyframes show {
  from {
    top: -100px;
    opacity: 0.3;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
