@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


body {
  background-color: #000;
  margin: 0;
  line-height: normal;
}

:root {
  --headingPrimary: 48px;
  --headingsecondary: 24px;
  --headingCard: 24px;
  --headingsimple: 16px;
  /* body */
  --bodyPrimary: 18px;
  --bodysecondary: 16px;
  --bodysimple: 14px;
  background-color: #000;

  /* color */
  --themePrimary: #7ab342;
  --themeSecondary: #fff;
}

@media only screen and (max-width: 520px) {
  :root {
    --headingPrimary: 30px;
    --headingsecondary: 24px;
    --headingCard: 22px;

    /* body */
    --bodyPrimary: 16px;
  }
}


.btnNl-secondary {
  background-color: transparent;
  color: #000;
  border-radius: 50px;
  padding: 12px 24px;
  border: 1px solid var(--themePrimary);
  transition: ease-in-out 0.3s;
  &:hover {
    background-color: var(--themePrimary);
    color: #fff;
    cursor: pointer;
  }
}

.main-title {
  font-size: var(--headingPrimary);
  font-weight: 700;
  line-height: 57px;
  color: #000;
}
@media only screen and (max-width: 520px) {
.main-title {
    line-height: 35px;
  }
}