@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* width: 80%; */
  --headingPrimary: 48px;
  --headingsecondary: 24px;
  --headingCard: 24px;
  --headingsimple: 16px;
  /* body */
  --bodyPrimary: 18px;
  --bodysecondary: 16px;
  --bodysimple: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  /* color */
  --themePrimary: #7ab342;
  --themeSecondary: #fff;
}

@media only screen and (max-width: 520px) {
  :root {
    --headingPrimary: 30px;
    --headingsecondary: 24px;
    --headingCard: 22px;

    /* body */
    --bodyPrimary: 16px;
  }
}

body {
  padding: 0;
  margin: 0;
  /* width: 80%; */
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* arabic dir */
.r_dir {
  direction: rtl;
}
/* English Dir */
.l_dir {
  direction: ltr;
}

.dropdown-item {
  all: unset;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--themePrimary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hwb(90 15% 61%);
}



/* app css */

html,
* {
  font-family: "Roboto", sans-serif;
  font-smooth: antialiased;
}

.btnNl {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.btnNl-primary {
  background-color: var(--themePrimary);
  color: var(--themeSecondary);
  border-radius: 50px;
  padding: 12px 24px;
  border: 1px solid var(--themePrimary);
  transition: ease-in-out 0.3s;
  &:hover {
    background-color: transparent;
    color: var(--themePrimary);
  }
}

.btnNl-secondary {
  background-color: transparent;
  color: #000;
  border-radius: 50px;
  padding: 12px 24px;
  border: 1px solid var(--themePrimary);
  transition: ease-in-out 0.3s;
  &:hover {
    background-color: var(--themePrimary);
    color: #fff;
  }
}

.main-title {
  font-size: var(--headingPrimary);
  font-weight: 700;
  line-height: 57px;
  color: #000;
}
@media only screen and (max-width: 520px) {
  .main-title {
    line-height: 35px;
  }
}

.sec-title {
  font-size: var(--headingsecondary);
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
@media (max-width: 560px) {
  .sec-title {
    line-height: 30px;
  }
}
a {
  color: var(--themePrimary);
}

.tag-line {
  font-size: var(--headingsimple);
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
.card-title {
  font-size: var(--headingCard);
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
@media (max-width: 560px) {
  .card-title {
    line-height: 30px;
  }
}
.para {
  font-size: var(--bodysecondary);
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.slider_custom_arrows {
  color: #000;
  border: 1px solid var(--themePrimary);
  border-radius: 50px;
  padding: 0.46rem 0.5rem;
  margin: 0;
  background: transparent;
  &:hover {
    border: 1px solid var(--themePrimary);
    background-color: var(--themePrimary);
  }
  &:disabled {
    opacity: 0.3;
  }
}
/* testimonial */
.slider_pd-end {
  padding-inline-end: 15px;
}
/* Common slides */
.slider_pd-end2 {
  padding-inline-end: 40px;
}

.SliderWrapper3 {
  position: relative;
}

.arrowslic22dernext,
.arrowslic22derprev {
  display: none;
}
@media (max-width: 580px) {
  .arrowslic22dernext,
  .arrowslic22derprev {
    display: block;
  }
}
.arrowslic22dernext .slider_custom_arrows,
.arrowslic22derprev .slider_custom_arrows {
  background-color: #fff;
  padding: 0.3rem 0.25rem;
}
.arrowslic22dernext {
  position: absolute;
  top: 20%;
  right: 20px;
  z-index: 3;
}
.arrowslic22derprev {
  position: absolute;
  top: 20%;
  left: -15px;
  z-index: 3;
}
@media (max-width: 580px) {
  .arrowslic22derprev {
    position: absolute;
    top: 20%;
    left: 10px;
    z-index: 3;
  }
}

.inputField {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: #e9e9e9;
  outline: 0;
  border: 0;
  color: #000;
}
.inputField:focus {
  outline: 0;
  background-color: #e9e9e9;
}
.selectOption {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid var(--themePrimary);
  outline: 0;
  color: #000;
}
.inputField:focus {
  outline: 0;
  border: 1px solid var(--themePrimary);
}
.form_group {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.form_group label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.form-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
}
.mt-40 {
  margin-top: 40px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 560px) {
  .py-60 {
    /* border-top: 1px solid rgba(128, 128, 128, 30%); */
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-60 {
    padding-top: 40px;
  }
}



.navbarspace{
  height: 200px;
}
.parent{
  /* border: 1px solid red; */
  width: 1400px;
  /* overflow: auto; */
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .parent{
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
  }
}




/* calender */

.react-calendar{
  border: 1px solid cyan;
  color: black;
}
.react-calendar__navigation{
  min-height: 100px;
}
.react-calendar__tile{
  color: black;
}
.availableSeats{
  /* border: 10px solid green; */
  color: black;

  background-color: black;

  
}
.react-calendar__month-view__days__day{
  color: black;

  border: 1px solid cyan;
}
.availableSeats{
  color: black;

  background-color: black;

}
.react-calendar__month-view__days{
  color: black;

  /* border: 1px solid cyan;
  background-color: black; */


}




.react-calendar {
  width: 350px;
  max-width: 100%;
  /* background: black; */
  border: 1px solid #a0a096;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #e6e6e6; */
  color: black;

}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: black;

}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  /* color: #757575; */
  color: black;

}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  /* color: #ababab; */
  color: black;

}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  /* color: #cdcdcd; */
  color: black;

}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  /* color: white; */
  color: black;

}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} 
