@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* width: 80%; */
  --headingPrimary: 48px;
  --headingsecondary: 24px;
  --headingCard: 24px;
  --headingsimple: 16px;
  /* body */
  --bodyPrimary: 18px;
  --bodysecondary: 16px;
  --bodysimple: 14px;

  /* color */
  --themePrimary: #7ab342;
  --themeSecondary: #fff;
}

@media only screen and (max-width: 520px) {
  :root {
    --headingPrimary: 30px;
    --headingsecondary: 24px;
    --headingCard: 22px;

    /* body */
    --bodyPrimary: 16px;
  }
}

body {
  padding: 0;
  margin: 0;
  /* width: 80%; */
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* arabic dir */
.r_dir {
  direction: rtl;
}
/* English Dir */
.l_dir {
  direction: ltr;
}

.dropdown-item {
  all: unset;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--themePrimary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hwb(90 15% 61%);
}



/* app css */

html,
* {
  font-family: "Roboto", sans-serif;
  font-smooth: antialiased;
}

.btnNl {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.btnNl-primary {
  background-color: var(--themePrimary);
  color: var(--themeSecondary);
  border-radius: 50px;
  padding: 12px 24px;
  border: 1px solid var(--themePrimary);
  transition: ease-in-out 0.3s;
  &:hover {
    background-color: transparent;
    color: var(--themePrimary);
  }
}

.btnNl-secondary {
  background-color: transparent;
  color: #000;
  border-radius: 50px;
  padding: 12px 24px;
  border: 1px solid var(--themePrimary);
  transition: ease-in-out 0.3s;
  &:hover {
    background-color: var(--themePrimary);
    color: #fff;
  }
}

.main-title {
  font-size: var(--headingPrimary);
  font-weight: 700;
  line-height: 57px;
  color: #000;
}
@media only screen and (max-width: 520px) {
  .main-title {
    line-height: 35px;
  }
}

.sec-title {
  font-size: var(--headingsecondary);
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
@media (max-width: 560px) {
  .sec-title {
    line-height: 30px;
  }
}
a {
  color: var(--themePrimary);
}

.tag-line {
  font-size: var(--headingsimple);
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
.card-title {
  font-size: var(--headingCard);
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
@media (max-width: 560px) {
  .card-title {
    line-height: 30px;
  }
}
.para {
  font-size: var(--bodysecondary);
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.slider_custom_arrows {
  color: #000;
  border: 1px solid var(--themePrimary);
  border-radius: 50px;
  padding: 0.46rem 0.5rem;
  margin: 0;
  background: transparent;
  &:hover {
    border: 1px solid var(--themePrimary);
    background-color: var(--themePrimary);
  }
  &:disabled {
    opacity: 0.3;
  }
}
/* testimonial */
.slider_pd-end {
  padding-inline-end: 15px;
}
/* Common slides */
.slider_pd-end2 {
  padding-inline-end: 40px;
}

.SliderWrapper3 {
  position: relative;
}

.arrowslic22dernext,
.arrowslic22derprev {
  display: none;
}
@media (max-width: 580px) {
  .arrowslic22dernext,
  .arrowslic22derprev {
    display: block;
  }
}
.arrowslic22dernext .slider_custom_arrows,
.arrowslic22derprev .slider_custom_arrows {
  background-color: #fff;
  padding: 0.3rem 0.25rem;
}
.arrowslic22dernext {
  position: absolute;
  top: 20%;
  right: 20px;
  z-index: 3;
}
.arrowslic22derprev {
  position: absolute;
  top: 20%;
  left: -15px;
  z-index: 3;
}
@media (max-width: 580px) {
  .arrowslic22derprev {
    position: absolute;
    top: 20%;
    left: 10px;
    z-index: 3;
  }
}

.inputField {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: #e9e9e9;
  outline: 0;
  border: 0;
  color: #000;
}
.inputField:focus {
  outline: 0;
  background-color: #e9e9e9;
}
.selectOption {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid var(--themePrimary);
  outline: 0;
  color: #000;
}
.inputField:focus {
  outline: 0;
  border: 1px solid var(--themePrimary);
}
.form_group {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.form_group label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.form-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
}
.mt-40 {
  margin-top: 40px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 560px) {
  .py-60 {
    /* border-top: 1px solid rgba(128, 128, 128, 30%); */
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pt-60 {
    padding-top: 40px;
  }
}
